.cardBorder {
    -webkit-box-shadow: 10px 10px 15px -6px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 10px 10px 15px -6px rgba(0, 0, 0, 0.65);
    box-shadow: 10px 10px 15px -6px rgba(0, 0, 0, 0.65);
}

 .cardEffect {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s both; 
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}